.body
{
    text-decoration-color: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HeaderImage
{
    margin-left:80px
}

.container
{
/*     background-color: rgb(214,243,31); */
    background-color: #85DCBE;
    height:900px;
    padding:0px;
    margin:0px;
}
.Webtitle
{
    text-align: Left;
    font-size: 4em;
    margin-left:100px;
    font-family: 'sans-serif', sans-serif;
}
.Webtitle u
{
    text-decoration-color: black;
    text-decoration-thickness: 0;
}
.Webtitle u:hover
{
    text-decoration-color: cyan;
    text-decoration-thickness: 30%;
    text-underline-offset: -20px;
    text-decoration-skip-ink: none;
}
.Webtitle::selection
{
    text-decoration: none;
}
a
{
    color:#1e1e1e;
    text-decoration-color: black;
    text-decoration-thickness: 0;
}
a:visited
{
    text-decoration-color: black;
    text-decoration-thickness: 45%;
    text-underline-offset: -10px;
    text-decoration-skip-ink: none;
}
a:hover
{
    text-decoration-color: cyan;
    text-decoration-thickness: 45%;
    text-underline-offset: -10px;
    text-decoration-skip-ink: none;
}
.image
{
    text-align: center;
}
.content
{
    font-family: 'Helvetica';
    text-align: left;
    font-size: 1.5em;
    padding: 20px;
    margin-left:10%;
    margin-right:30%;
    line-height: 1.25;
    color:#1e1e1e
}
.byline
{
    font-size: 2em;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-left: 100px;
    padding: 0;
}
::selection {
    color:inherit;
    text-decoration: inherit;
    background: rgb(186, 245, 245);
}
